@use "../../mixins.scss" as mix;
.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f8f9fc;
  border-radius: 10px;
  margin-top: 20px;
  @include mix.respond(phone) {
    width: 95%;
    padding: 0px;
    align-items: normal;
  }

  .preview {
    width: 70%;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 12px;
    background-color: #fff;
    font-family: "Nunito", sans-serif;

    @media (max-width: 768px) {
      width: 100%;
      padding: 8px;
    }

    h3 {
      color: #4b5563;
      font-size: 18px;
      margin-bottom: 16px;
      @media (max-width: 768px) {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }

    .preview-section {
      margin-bottom: 10px;

      .preview-label {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: #6b7280;
        margin-bottom: 5px;
        @media (max-width: 768px) {
          font-size: 14px;
          margin-bottom: 1px;
        }
      }
      .preview-video {
        @media (max-width: 768px) {
          margin-top: 6px;
        }
      }

      .preview-title,
      .preview-description {
        font-size: 15px;
        font-weight: 500;
        color: #374151;
      }
    }

    .preview-thumbnail {
      width: 250px;
      height: auto;
      border-radius: 8px;
      margin-top: 8px;
    }

    .preview-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .tag-item {
        padding: 4px 10px;
        background-color: #d1d5db;
        border-radius: 12px;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }

  .submit-btn-wrap {
    margin-top: 24px;
    text-align: center;

    button {
      background-color: #1c64e0;
      color: white;
      padding: 10px 20px;
      font-weight: 600;
      border-radius: 8px;
      border: none;
      cursor: pointer;

      &:disabled {
        background-color: #a1a1aa;
        cursor: not-allowed;
      }
    }

    .wrap-loader {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
}
